<!DOCTYPE html>
<html lang="en-us">

    <head>
        <title>DemoDRA - Current Weather</title>

        <link rel="stylesheet" href="/built/css/default.css" />

        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/angular-route/angular-route.js"></script>
        <script src="/js/controllers.js"></script>
    </head>

    <body>
        <div float="left">
            <% include includes/mainbody %>
        </div>
        <div float="left" style="width:70%; height:70%">
        <div id="map"></div>
    		<script>
      		var map;
      		var marker1;
          	var geocoder =  new google.maps.Geocoder();
     		function initMap() {
     		   	map = new google.maps.Map(document.getElementById('map'), {
       		   	center: {lat: -37.786866, lng: 175.318073},
          		zoom: 10
        		});
        		geocoder.geocode({'address': "Wellington,nz"}, function(results,status){
        			if (status == google.maps.GeocoderStatus.OK){
        				var marker1 = new google.maps.Marker({position: results[0].geometry.location});
						marker1.setMap(map);
					}
				});
			}
    		</script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCI46l5ThhLsy8cali5JprGNsn6PPoY_y0&callback=initMap"
    async defer></script>
    </div>
    </body>

    <script>
         angular.element(document).ready(function() {
            angular.bootstrap(document, ['ConsoleModule']);
        });
    </script>

</html>